.section {
    padding: 50px;
    
  }
  
  .content {
    display: flex;
    align-items: center;
  }
  
  .text {
    flex: 1;
    padding: 20px;
  }
  
  .image img {
    width: 100%;
    max-width: 400px;
    border-radius: 15px;
  }
  